Codigo para descargar informacion diaria del Dolar (Oficial,  Blue, Mayorista Bancos, BCRA de Referencia, Banco Nación, Billete Banco Nación Público)

In [1]:
import json
import requests

url = "https://www.dolarsi.com/api/api.php?type=dolar"
response = requests.get(url)
data = json.loads(response.text)

print(data)

[{'casa': {'nombre': 'Oficial', 'compra': '185,820', 'venta': '194,820', 'agencia': '344', 'observaciones': {}, 'geolocalizacion': {'latitud': {}, 'longitud': {}}, 'telefono': '0810-666-4444', 'direccion': {}, 'decimales': '3'}}, {'casa': {'nombre': 'Blue', 'compra': '373,000', 'venta': '377,000', 'agencia': '380', 'observaciones': {}, 'geolocalizacion': {'latitud': {}, 'longitud': {}}, 'telefono': {}, 'direccion': {}, 'decimales': '3'}}, {'casa': {'nombre': 'Mayorista Bancos', 'compra': '187,150', 'venta': '187,350', 'agencia': '44', 'geolocalizacion': {'latitud': '-34.6033922', 'longitud': '-58.439710'}, 'telefono': '4556-8995', 'direccion': 'Uruguay 4532', 'observaciones': {}, 'decimales': '3'}}, {'casa': {'nombre': 'BCRA de Referencia', 'compra': '186,180', 'venta': '194,821', 'agencia': '49', 'observaciones': {}, 'decimales': '3'}}, {'casa': {'nombre': 'Banco Nación Billete', 'compra': '186,500', 'venta': '194,500', 'agencia': '47', 'observaciones': {}, 'decimales': '3'}}, {'casa': {'nombre': 'Banco Nación Público', 'compra': '186,500', 'venta': '194,500', 'agencia': '210', 'observaciones': {}, 'decimales': '3'}}]

In [2]:
import pandas as pd

df = pd.DataFrame(data)
df = df['casa'].apply(pd.Series)

print(df)

                 nombre   compra    venta agencia observaciones  \
0               Oficial  185,820  194,820     344            {}
1                  Blue  373,000  377,000     380            {}
2      Mayorista Bancos  187,150  187,350      44            {}
3    BCRA de Referencia  186,180  194,821      49            {}
4  Banco Nación Billete  186,500  194,500      47            {}
5  Banco Nación Público  186,500  194,500     210            {}

                                     geolocalizacion       telefono  \
0                    {'latitud': {}, 'longitud': {}}  0810-666-4444
1                    {'latitud': {}, 'longitud': {}}             {}
2  {'latitud': '-34.6033922', 'longitud': '-58.43...      4556-8995
3                                                NaN            NaN
4                                                NaN            NaN
5                                                NaN            NaN

      direccion decimales
0            {}         3
1            {}         3
2  Uruguay 4532         3
3           NaN         3
4           NaN         3
5           NaN         3

In [3]:
df = df[["nombre","venta"]]
print(df)

                 nombre    venta
0               Oficial  194,820
1                  Blue  377,000
2      Mayorista Bancos  187,350
3    BCRA de Referencia  194,821
4  Banco Nación Billete  194,500
5  Banco Nación Público  194,500

In [4]:
pd.DataFrame(df)

                 nombre    venta
0               Oficial  194,820
1                  Blue  377,000
2      Mayorista Bancos  187,350
3    BCRA de Referencia  194,821
4  Banco Nación Billete  194,500
5  Banco Nación Público  194,500

In [5]:
import datetime
import pandas as pd

today = datetime.datetime.today().strftime('%Y-%m-%d')
value = df[df['nombre'] == 'Blue']['venta'].values[0]
value = format(float(value.replace(',', '')), '.1f')
df = pd.DataFrame({'Fecha': [today], 'Compra': [0.0], 'Venta': [float(value.replace('.', ''))]})
df

        Fecha  Compra      Venta
0  2023-02-01     0.0  3770000.0

In [6]:
df['Venta'] = df['Venta'].astype(int) / 10000
df['Venta'] = df['Venta'].apply(lambda x: "{:.1f}".format(x))
df

        Fecha  Compra  Venta
0  2023-02-01     0.0  377.0

In [7]:
df.to_excel('data/xlsx/PrecioBlueDIario.xlsx', index=False)

In [8]:
import pandas as pd

# Load the existing Excel file into a dataframe
df2 = pd.read_excel(r'data\xlsx\PreciosBlue.xlsx')

# Append the first row of the dataframe to the existing dataframe
df2 = df2.append(df.iloc[0, :], ignore_index=True)

# Save the updated dataframe to the Excel file
df2.to_excel(r'data\xlsx\PreciosBlue.xlsx', index=False)

df2

C:\Users\rodri\AppData\Local\Temp\ipykernel_10132\3506088974.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df.iloc[0, :], ignore_index=True)

      Unnamed: 0                Fecha  Compra  Venta
0            0.0  2023-01-31 00:00:00  379.00  383.0
1            1.0  2023-01-30 00:00:00  382.00  386.0
2            2.0  2023-01-27 00:00:00  381.00  385.0
3            3.0  2023-01-26 00:00:00  379.00  383.0
4            4.0  2023-01-25 00:00:00  377.00  381.0
...          ...                  ...     ...    ...
3216      3216.0  2010-01-07 00:00:00    3.86   3.87
3217      3217.0  2010-01-06 00:00:00    3.87   3.88
3218      3218.0  2010-01-05 00:00:00    3.86   3.86
3219      3219.0  2010-01-04 00:00:00    3.86   3.86
3220         NaN           2023-02-01    0.00  377.0

[3221 rows x 4 columns]