Codigo para descargar informacion diaria del Dolar (Oficial,  Blue, Mayorista Bancos, BCRA de Referencia, Banco Nación, Billete Banco Nación Público)

In [1]:
import json
import requests

url = "https://www.dolarsi.com/api/api.php?type=dolar"
response = requests.get(url)
data = json.loads(response.text)

print(data)

[{'casa': {'nombre': 'Oficial', 'compra': '186,370', 'venta': '195,370', 'agencia': '344', 'observaciones': {}, 'geolocalizacion': {'latitud': {}, 'longitud': {}}, 'telefono': '0810-666-4444', 'direccion': {}, 'decimales': '3'}}, {'casa': {'nombre': 'Blue', 'compra': '375,000', 'venta': '379,000', 'agencia': '380', 'observaciones': {}, 'geolocalizacion': {'latitud': {}, 'longitud': {}}, 'telefono': {}, 'direccion': {}, 'decimales': '3'}}, {'casa': {'nombre': 'Mayorista Bancos', 'compra': '187,800', 'venta': '188,000', 'agencia': '44', 'geolocalizacion': {'latitud': '-34.6033922', 'longitud': '-58.439710'}, 'telefono': '4556-8995', 'direccion': 'Uruguay 4532', 'observaciones': {}, 'decimales': '3'}}, {'casa': {'nombre': 'BCRA de Referencia', 'compra': '186,717', 'venta': '195,374', 'agencia': '49', 'observaciones': {}, 'decimales': '3'}}, {'casa': {'nombre': 'Banco Nación Billete', 'compra': '187,000', 'venta': '195,000', 'agencia': '47', 'observaciones': {}, 'decimales': '3'}}, {'casa': {'nombre': 'Banco Nación Público', 'compra': '187,000', 'venta': '195,000', 'agencia': '210', 'observaciones': {}, 'decimales': '3'}}]

In [2]:
import pandas as pd

df = pd.DataFrame(data)
df = df['casa'].apply(pd.Series)

print(df)

                 nombre   compra    venta agencia observaciones  \
0               Oficial  186,370  195,370     344            {}
1                  Blue  375,000  379,000     380            {}
2      Mayorista Bancos  187,800  188,000      44            {}
3    BCRA de Referencia  186,717  195,374      49            {}
4  Banco Nación Billete  187,000  195,000      47            {}
5  Banco Nación Público  187,000  195,000     210            {}

                                     geolocalizacion       telefono  \
0                    {'latitud': {}, 'longitud': {}}  0810-666-4444
1                    {'latitud': {}, 'longitud': {}}             {}
2  {'latitud': '-34.6033922', 'longitud': '-58.43...      4556-8995
3                                                NaN            NaN
4                                                NaN            NaN
5                                                NaN            NaN

      direccion decimales
0            {}         3
1            {}         3
2  Uruguay 4532         3
3           NaN         3
4           NaN         3
5           NaN         3

In [3]:
df = df[["nombre","venta"]]
print(df)

                 nombre    venta
0               Oficial  195,370
1                  Blue  379,000
2      Mayorista Bancos  188,000
3    BCRA de Referencia  195,374
4  Banco Nación Billete  195,000
5  Banco Nación Público  195,000

In [4]:
pd.DataFrame(df)

                 nombre    venta
0               Oficial  195,370
1                  Blue  379,000
2      Mayorista Bancos  188,000
3    BCRA de Referencia  195,374
4  Banco Nación Billete  195,000
5  Banco Nación Público  195,000

In [5]:
import datetime
import pandas as pd

today = datetime.datetime.today().strftime('%Y-%m-%d')
value = df[df['nombre'] == 'Oficial']['venta'].values[0]
value = format(float(value.replace(',', '')), '.1f')
df = pd.DataFrame({'Fecha': [today], 'Compra': [0.0], 'Venta': [float(value.replace('.', ''))]})
df

        Fecha  Compra      Venta
0  2023-02-04     0.0  1953700.0

In [6]:
df['Venta'] = df['Venta'].astype(int) / 10000
df['Venta'] = df['Venta'].apply(lambda x: "{:.1f}".format(x))
df

        Fecha  Compra  Venta
0  2023-02-04     0.0  195.4

In [7]:
df.to_excel('data/xlsx/PrecioBlueDIario.xlsx', index=False)

In [8]:
import pandas as pd

# Load the existing Excel file into a dataframe
df2 = pd.read_excel(r'data\xlsx\PreciosOF.xlsx')

# Append the first row of the dataframe to the existing dataframe
df2 = df2.append(df.iloc[0, :], ignore_index=True)

# Save the updated dataframe to the Excel file
df2.to_excel(r'data\xlsx\PreciosOF.xlsx', index=False)

df2

C:\Users\rodri\AppData\Local\Temp\ipykernel_33268\4289159267.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df.iloc[0, :], ignore_index=True)

      Unnamed: 0                Fecha  Compra   Venta
0            0.0  2023-02-03 00:00:00  186.40   195.4
1            1.0  2023-02-02 00:00:00  186.14  195.14
2            2.0  2023-02-01 00:00:00  185.95  194.95
3            3.0  2023-01-31 00:00:00  185.36  194.36
4            4.0  2023-01-30 00:00:00  185.07  194.07
...          ...                  ...     ...     ...
3225      3225.0  2010-01-07 00:00:00    3.79    3.83
3226      3226.0  2010-01-06 00:00:00    3.79    3.83
3227      3227.0  2010-01-05 00:00:00    3.78    3.82
3228      3228.0  2010-01-04 00:00:00    3.78    3.82
3229         NaN           2023-02-04    0.00   195.4

[3230 rows x 4 columns]